@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,400&display=swap');
        body{
            background-color: #0B090A;
            display: flex;
            align-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0px;
            width: 100%;
            height: 100vh;
        }

        .cabecalho{
            width: 100%;
            height: 90px;
            background-color: #0B090A;
            border-bottom: 5px solid #A4161A;
            position: fixed;
            top: 0px;
            color:white;
            display: flex;
            flex-direction: row;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            z-index: 1;
        }
        h1{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .flecha{
            margin-left: 30px;
            font-size: 30px;
            transform: rotate(270deg);
            font-family: 'Poppins', sans-serif;
        }

        .rodape{
            width: 100%;
            height: 100%;
            background-color: white;
            font-size: 30px;
            font-family: 'Poppins', sans-serif;
            justify-content: center;
            display: flex;
        }

        .titulo{
            font-size:80px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .virtual{
            font-size:20px;
            font-family: 'Cormorant Garamond', serif;
        }

        .button {
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 30px;
            font-family: 'Poppins', sans-serif;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 30px;
            box-shadow: 2px 2px 5px #A4161A;

        }
        .button1 {background-color: #A4161A;}
        .button2 {background-color: #A4161A;}
        .button:hover
        { background-color: #000000;
            transition: 0.5s;
            opacity: 0.7;
        }
        .piscar{
        font-size: larger;
        font-family:Arial, Helvetica, sans-serif;
        color:#070000;
        animation: animate 1.5s linear infinite;
        }
       
        @keyframes animate{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0.7;
        }
        100%{
            opacity: 0;
        }
        }

        .imagens{
            text-align: right;
        }
        .d1
        {
            position: absolute;
            top: 300px;
            left: 0px;
            animation: gira 2s infinite alternate;
            width: 200px;
            height: 200px;
            background: blue;
            box-shadow: 5px 5px;
        }
        .d2
        {
            position: absolute;
            top: 100px;
            left: 0px;
            animation: gira2 5s infinite alternate;
            width: 0px;
            height: 200px;
            animation-delay: 0,5s;
        }
        a{
            text-decoration: none;
            color: white;
        }
        .categorias{
            width: 150px;
            height: 400px;
            background-color: #660708;
            position: absolute;
            top: -400px;
            left: 27%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            justify-items: center;
            align-items: center;
            align-content: center;
            color: white;
           

          
        }
        .desliza{
            animation: deslizar 2s forwards;
        }
        @keyframes deslizar {
            0%{top: -400px;}
            100%{top: 90px;}
        }
        .sobe{
            animation: subir 2s forwards;
        }
        @keyframes subir {
            0%{top: 90px;}
            100%{top: -400px;}
        }
        .txt_categoria,.txt_combo,.txt_destaque
        {
            cursor:pointer;
            margin-left: 30px;
        }
        span:hover {
            color:#660708
          }
        .destaques{
            width: 150px;
            height: 400px;
            background-color: #660708;
            position: absolute;
            top: -400px;
            left: 43%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            justify-items: center;
            align-items: center;
            align-content: center;
            color: white;
           
        }
        .combos{
            width: 150px;
            height: 400px;
            background-color: #660708;
            position: absolute;
            top: -400px;
            left: 58%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            justify-items: center;
            align-items: center;
            align-content: center;
            color: white;
        }
        .perfil{
            width: 150px;
            height: 200px;
            background-color: black;
            position: absolute;
            top: -400px;
            left: 92%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            justify-items: center;
            align-items: center;
            align-content: center;
            color: white;
            cursor: pointer;
        }
        @keyframes gira{
            0% {top: 300px; left: 0px; rotate: 0deg;}
            100% {top: 300px; left: 1100px; rotate: 360deg;}
        }
        @keyframes gira2{
           
            0%   {top: 100px; left: 0px; rotate: 0deg; }
           
            100% { top: 100px; left: 1100px; rotate: 360deg;
                   width: 0px; height: 0px;
                 }
        }
        div.img{position: relative; width: 330px;}
        div.img > img{width:100%; height: 100%}
        div.img > div{position: absolute; right: 76%; top: 55%; margin-top: -250px; width:50%; height: 50%; color: #FFF;}     
        #divBusca{
            background-color: #660708;
            border:solid 1px;
            border-radius:20px;
            width:300px;
            height: 40px;
            display: flex;
            align-items: center;
            align-content: center;
          }
          
          #txtBusca{
            float:left;
            background-color:transparent;
            padding-left:5px;
            font-style:italic;
            font-size:18px;
            border:none;
            height:32px;
            width:260px;
            outline: none;
            color: white;
          }
          .imgfilme{
            position: absolute;
            height:450px;
          }
          .icone3d{
            position: relative;
            top:0;
            left:0;
          }
          .tabela{
            background-color: #0B090A;
            display: flex;
            gap:374px;
            width: 100%;
            height: 100%;
            margin: 0;
          }