body {
    width: 100%;
    height: 100%;
    background-image: url("imagens/cinema.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
}
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card {
    background-color: gray;
    padding: 40px;
    border-radius: 2px;
    width:380px;
}
.card-header {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
}
.card-header::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}
.card-content label {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
}
.card-content-area {
    display: flex;
    flex-direction: column;
    padding:10px 0;
}
.card-content-area input {
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}
.card-footer {
    display: flex;
    flex-direction: column;
}
.card-footer .submit{
    width: 100%;
    height: 40px;
    background-color:#A4161A;
    border:none;
    color:#e1e1e1;
    margin: 10px 0;
}
.card-footer a {
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
}