@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Cinzel', serif;
  background-color: #000;
  color: snow;
}
.intro {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  box-shadow: 0 0 3rem 1rem #000 inset;
}
.intro-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: contrast(150%);
  animation: zoomInImage 5s ease-out forwards;
}
@keyframes zoomInImage {
  100% {
    transform: translateY(22vh) scale(1.5);
  }
}
.intro-text {
  text-align: center;
  font-size: 2rem;
  line-height: 3.25rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2.5rem;
  padding: 3rem 2rem;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  opacity: 0;
  animation: fadeIn 0.5s ease-out 2s forwards;
}
.intro-text span {
  opacity: 0;
}
.intro-text span:nth-of-type(1) {
  animation: fadeIn 0.75s ease-out 2s forwards;
}
.intro-text span:nth-of-type(2) {
  animation: fadeIn 0.75s ease-out 2s forwards;
}
.intro-text span:nth-of-type(3) {
  animation: fadeIn 0.75s ease-out 2s forwards;
}
.intro-text span:nth-of-type(4) {
  animation: fadeIn 0.75s ease-out 2s forwards;
}
.intro-text span:nth-of-type(5) {
  animation: fadeIn 0.75s ease-out 2s forwards;
}
.intro-text span:nth-of-type(6) {
  animation: fadeIn 0.75s ease-out 2s forwards;
}
.intro-text span:nth-of-type(7) {
  animation: fadeIn 0.75s ease-out 2s forwards;
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@media(max-width: 992px) {
  html { font-size: 14px; }
}
@media(max-width:767px) {
  html { font-size: 12px; }
  .intro .intro-text {
    width: 100%;
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 2.75rem;
    letter-spacing: 0;
    padding: 1.5rem 0;
    border-radius: 0;
  }
  @keyframes zoomInImage {
    100% {
      transform: scale(1.15);
    }
  }
}