@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body,html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* - Fundo principal - */
.principal {
    
    width: 1920px;
    height: 2160px;
    
    background-color: #161A1D;
}
/* - Cabeçalho principal -*/
.cabecalho {
    width:100%;
    height: 150px;

    background-color: #0B090A;
    border-bottom: 5px solid #A4161A;
    display: flex;
    
    justify-content: space-between;

}

/* - Caixas organizadora do cabeçalho-*/
.caixaL{
   
    height: 100%;
    width: 25%;

    /* border-radius: 1px;
    border-color: rgba(255, 255, 255, 1);
    border-style: dotted; */
}

/* - Texto VIRTUAL CINE - */
.logoTexto{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 65px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Linha decorativa debaixo do cabecalho */

.linhaD{
    width: 100%;
    height: 5px;
    background-color: #A4161A;
}

/* Caixas organizadoras do filmes */

.caixaContent{
    width:  2200px;
    height: 815px;
    /* border-radius: 1px;
    border-color: rgb(255, 0, 0);
    border-style: dotted;  */
    
    display: flex;
    
    justify-content: center;
}


.caixaColunas{
    width: 90%;
    height: 1630px;
    /* border-radius: 1px;
    border-color: green;
    border-style: dotted; */
    display: flex;
   
    align-items: center;  
    flex-direction: column;
}

.caixaTexto{
    width: 95%;
    height: 20%;
    /* border-radius: 1px;
    border-color: green;
    border-style: dotted; */
    display: flex;
    align-items: center;
    font-size: 48px;
    color: white;
    font-family: 'Quicksand', sans-serif;

}

.caixaF{
    width: 100%;
    height: 500px;
    /* border-radius: 1px;
    border-color: red;
    border-style: dotted; */
    display: flex;
    justify-content: space-around; 
    align-items: center;  
    flex-direction: row;
    left: 50px;

}
.caixaFilmes{
    width: 100%;
    height: 500px;
    /* border-radius: 1px;
    border-color: red;
    border-style: dotted; */
    display: flex;
    justify-content: space-around; 
    align-items: center;  
    flex-direction: row;
   

}

h{
    border-bottom: 5px solid #A4161A;
  }

 /* Banners dos filmes */
.filmes{
    width: 300px;
    height: 500px;
    background-color: white;

    display: flex;
    flex-direction: column;
}

.filmesCabecalho {
    width: 300px;
    height: 50px;
    background-color: #A4161A;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .5);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color :white;
    z-index: 1;
}

.divFilme {
    width: 300px;
    height: 500px;
    display: flex;
    align-items: end;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);

}

.imgFilme {
    z-index: -1;
    width: 300px;
    height: inherit;
    cursor: pointer;
}

.rodapeFilme{
    width: 300px;
    height: 100px;
    background-color: rgba(0, 0, 0,.75);
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.rodapeCabecalhoFilme{
    height: 30px;
    width: 100%;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    
}

.rodapeTextoFilme{
    display: none;
    height: 60px;
    width: 250px;
    font-size: 12px;

    color: rgb(255, 255, 255);
}

.rodapeCabecalhoFilme:hover + .rodapeTextoFilme {
    display: flex;
    justify-content: center;
    text-align: center;
}

.setaFrente, .setaTras {
    width: 50px;
    height: 50px;
    font-size: 50px;
    background-color: transparent;
    color: white;
    font-family: 'Quicksand', sans-serif;
    border: 0px;
    cursor:pointer;
    z-index: 5;
    
   
}

.setaFrente:hover {background-color: #0b090a7a; }
.setaTras:hover {background-color: #0b090a7a; }